<!DOCTYPE html>
<html lang="en">
<title>Signup</title>
{% extends 'base.html' %}
{% block content %}
    <body style="font-family: 'Open Sans'">
    <br>
        {% if user.is_authenticated %}
    <blockquote class="blockquote text-center">
        <p class="mb-0">
        <h1>Welcome to our Website!</h1></p>
        <footer class="blockquote-footer"><cite title="Source Title">Team SSFC</cite></footer>
    </blockquote>

    <div class="card container" style="width: 40rem">
    <div class="container">
    <br>
        <p align="center">Please fill in the form to complete registration.</p>
        <form method="post" action="{% url 'student_signup' %}" style="font-family: 'Open Sans';">
            {% csrf_token %}
            <br>
            <div class="form-group" >
                <label for="firstName" class="bmd-label-floating">First Name</label>
                <input type="text" class="form-control" name="firstName">
            </div>
            <div class="form-group">
                <label for="lastName" class="bmd-label-floating">Last Name</label>
                <input type="text" class="form-control" name="lastName">
            </div>
            <div class="form-group">
                <label for="InputUser" class="bmd-label-floating">Contact Address</label>
                <input type="number" class="form-control" name="contact">
                <span class="bmd-help">Your contact will be private.</span>
            </div>
            <div class="form-group">
                <label for="InputUser" class="bmd-label-floating">Registration No.</label>
                <input type="number" class="form-control" name="registration">
            </div>

            <div class="form-group">
                <label for="inputPassword1" class="bmd-label-floating">Session</label>
                <input type="number" class="form-control" name="session">
                <span class="bmd-help">ex. 2016</span>
            </div>
        <br>
            {% if error %}
                <div class="alert alert-danger" role="alert">
                    Account already Exists!
                </div>
            {% else %}
                <br>
            {% endif %}
            <button type="submit" class="btn btn-raised btn-primary" style="display: block; margin: 0 auto;" data-toggle="snackbar" data-content="Your will getting signed in now" data-html-allowed="true" data-timeout="0">Complete Sign up</button>
        </form>
    </div>
    </div>
    {% endif %}
    </body>
{% endblock %}
</html>